Django==5.2.13 ,
asgiref==3.11.1, 
sqlparse==0.5.5 ,
tzdata==2026.1,
django-environ==0.13.0 ,
psycopg2-binary==2.9.12
python-dotenv==0.21.0
djangorestframework==3.17.1
django-filter==25.2
drf-spectacular==0.29.0
pyright==1.1.408 
dj_database_url==3.1.2
gunicorn==25.3.0 ,
whitenoise==6.12.0,
django-ratelimit==4.1.0,
django-redis==6.0.0,
redis==7.4.0,
sentry-sdk==2.58.0,
urllib3==2.6.3,

